@font-face {
    font-family:satoshi ;
    src: url(./fonts/Satoshi-Medium.woff2);
}


*{
    padding: 0;
    margin: 0;
    color: white;
}
body{
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
}

a{
    text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    background-image: url(../BG.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    background-color: rgba(31, 31, 31, 0.658);
    backdrop-filter: blur(5px);
    height: 13vh;
    width: 100%;
    display: flex;
    text-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: "satoshi";
    gap: 300px;

}


  
 
.headText *{
    margin-left: 20px;

}
.contactButton{
    background-color: #1A2CD7;
    padding: 15px;
    
    border: none;
    letter-spacing: 0.5px;
    font-family: "Open Sans", serif;
}
.heroText{
 font-family:Arial, Helvetica, sans-serif;
 width: 65%;
 font-size: 80px;
 font-weight:100;
 justify-content: center;
 position: absolute;
 top:50%;
 left: 40%;
 user-select: none;
 transform: translate(-50%, -50%);
}
.explore{
    margin-top: 45px;
    background-color: transparent;
    color: rgba(209, 209, 209, 0.952);
    border: 2px solid grey;
    padding: 5px 11px;
    border-radius: 3px;
    font-size: 20px;
}
.explore:hover{
    background-color: rgba(209, 209, 209, 0.4);
    color: rgba(255, 255, 255, 0.821);
    cursor: pointer;
}
.mid1{
    background-color: black;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
    
    
}
.mid1 *{
    width: 50%;
    margin-left: 40%;
    transform: translateX(-50%);
    width: 65%;
    
}
.mid1-text{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight:100;
    
}
.mid1-text2{
    font-family: sans-serif;
    color: aliceblue;
    font-size: 18px;
    color: rgba(147, 162, 162, 0.877);
}
.videoSection{
    width: 85.6%;
    margin-left: 7.2%;
    overflow-x: hidden;
}
.slider{
    display: flex;
    gap:20px;
    width:calc((300px*8 )+ (20px*7));
    animation: scroll 10s linear infinite alternate;
    
}
.slider1{
    display: flex;
    gap:20px;
    width:calc((300px*8 )+ (20px*7));
    animation: scroll 20s linear infinite alternate;  
    
}
.slide{
    width: 300px;
}
@keyframes scroll1 {
    0%{
        transform: translateX(calc(-300px*4));
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-300px*4));
    }
}
.importantInfo{
    display: flex;
    font-family: "satoshi";
    width: 86.7%;
    margin-left: 7.2%;
   
    justify-content: space-between;
    height: fit-content;
    position: relative;

}
.importantContent{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}
.headerContent{
    font-size: 90px;
    line-height: 99px;
}
.subcontent{
    font-size: 40px;
}
.hoverContent{
    width: 100%;
    height: 100%;
    position:absolute;
    top:103%;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #1A2CD7;
    display: flex;
    transition: top 0.5s ease-in-out;
    
}

.importantContent:hover .hoverContent{
    top:0;
}
